<!DOCTYPE html>
<html>
<head>
  <title>Wood</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => 'partials/navbar' %>

<%= yield %>

<%= render :partial => 'partials/footer' %>

</body>
</html>
